*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    font-size: xx-large;
    text-align: center;
    margin-top: 2%;
    display: none;
}
    
@media (min-width:0px) and (max-width:425px){
    body{
        background-color: #7FFFD5; 
    }
    .box5{
        display: block;
    }
}

@media (min-width:425px) and (max-width:768px){
    body{
        background-color: rgb(174, 6, 46);
    }
    .box1{
        display: block;
    }
}

@media (min-width:768px) and (max-width:1024px){
    body{
        background-color: lightblue;
    }
    .box2{
        display: block;
    }
}

@media (min-width:1024px) and (max-width:1440px){
    body{
        background-color: #B1882F;
    }
    .box3{
        display: block;
    }
}

@media  (min-width:1440px) and (max-width:1600px) {
    body{
        background-color: green;
    }
    .box4{
        display: block;
    }
}